$standard-margin: 50px;

body {
  margin-bottom: $standard-margin;
}

#content {
  margin-top: $standard-margin;
}

h5 {
  margin-bottom: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

ol > li {
      text-decoration: underline;
  }

@media (min-width: 800px) {
  table {
      width: 70%;
  }
  }
@media (max-width: 799px) {
  table {
      width: 90%;
  }
  }

table {
  margin-bottom: 30px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cardsTable {
  text-align: center;
  h5 {
    margin: 10px;
  }
  a {
    font-size: 15px;
  }
}

.comment {
  color: grey;
  text-align: center;
  font-style: italic;
}

%linkBackground {
  background-color: transparent;
  font-weight: 500;
}

a:link {
  @extend %linkBackground;
  color: #800080;
  text-decoration: none;
}

a:visited {
  @extend %linkBackground;
  color: #c299ff;
  text-decoration: none;
}

a:hover {
  @extend %linkBackground;
  color: #9933ff;
  text-decoration: underline;
}

a:active {
  @extend %linkBackground;
  color: #cc00ff;
  text-decoration: underline;
}
